<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kusitms.kusitmsmarket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppTest"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="시장의 민족"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KusitmsMarket.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.mypage.EventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.price.SubCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.market.ReviewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.market.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.price.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.CenterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.ReportActivity"
            android:exported="true" />
        <activity
            android:name=".ui.mypage.ReportLocationActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="yor1ikekau" />
    </application>

</manifest>